/* TermsAndConditionsComponent.module.css */

/* Card container style */
.termsCard {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style for BlockUI overlay */
.customBlockuiOverlay {
  background: rgba(0, 0, 0, 0.4); /* dark transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Styling for the Panel header */
.customPanelHeader {
  color: white;
  font-weight: bold;
}

/* Add some spacing and padding to the content in Panel */
.customPanelContent {
  padding: 1rem;
}

/* Style for the button */
.customButton {
  background-color: #a690cf; /* Light purple */
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.customButton:hover {
  background-color: #8e77ba; /* Slightly darker purple */
  cursor: pointer;
}

.customButton:active {
  background-color: #8365b5; /* Even darker purple for active state */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}

.customButton:disabled {
  background-color: #b0c4de;
  cursor: not-allowed;
}

/* Style for the text and button container */
.mt20 {
  margin-top: 2rem;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customHeading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
